In [13]:
import pandas as pd
import os
import requests
from config import pt_gkey
import gmaps
gmaps.configure(api_key=pt_gkey)

In [14]:
file_path = os.path.join("Resources","us-counties.csv")
df=pd.read_csv(file_path)

In [15]:
df.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

In [16]:
df_new=df.dropna()

In [46]:
df_march=df_new[df_new['date']=='2020-03-11']

In [47]:
df_march.sort_values(['cases'],ascending=False)

            date         county          state     fips  cases  deaths
1349  2020-03-11           King     Washington  53033.0    235      27
1290  2020-03-11    Westchester       New York  36119.0    120       0
1354  2020-03-11      Snohomish     Washington  53061.0     69       1
1180  2020-03-11    Santa Clara     California   6085.0     48       1
1255  2020-03-11      Middlesex  Massachusetts  25017.0     41       0
...          ...            ...            ...      ...    ...     ...
1242  2020-03-11        Johnson         Kansas  20091.0      1       0
1241  2020-03-11  Pottawattamie           Iowa  19155.0      1       0
1239  2020-03-11     St. Joseph        Indiana  18141.0      1       0
1238  2020-03-11          Noble        Indiana  18113.0      1       0
1363  2020-03-11       Sheridan        Wyoming  56033.0      1       0

[202 rows x 6 columns]

In [17]:
df_may=df_new[df_new['date']=='2020-05-06']

In [18]:
df_may.reset_index(drop=True,inplace=True)

In [44]:
df_may.sort_values(['cases'],ascending=False)

            date       county         state     fips  cases  deaths
569   2020-05-06         Cook      Illinois  17031.0  46689    2004
1682  2020-05-06       Nassau      New York  36059.0  37350    2325
1701  2020-05-06      Suffolk      New York  36103.0  35543    1574
1709  2020-05-06  Westchester      New York  36119.0  30426    1285
186   2020-05-06  Los Angeles    California   6037.0  28644    1367
...          ...          ...           ...      ...    ...     ...
2252  2020-05-06         Hand  South Dakota  46059.0      1       0
994   2020-05-06     Metcalfe      Kentucky  21169.0      1       0
997   2020-05-06       Morgan      Kentucky  21175.0      1       0
1000  2020-05-06     Nicholas      Kentucky  21181.0      1       0
1470  2020-05-06       Shelby      Missouri  29205.0      1       0

[2940 rows x 6 columns]

In [33]:
dd=df_may[['fips','cases']]

In [34]:
dd

         fips  cases
0      1001.0     58
1      1003.0    196
2      1005.0     47
3      1007.0     43
4      1009.0     42
...       ...    ...
2935  56035.0      3
2936  56037.0     19
2937  56039.0     98
2938  56041.0      8
2939  56043.0      7

[2940 rows x 2 columns]

In [25]:
gg=df_may.groupby(['fips'])

In [20]:
df_new_date=df_new[df_new['date']=='2020-09-08']

In [30]:
df_new_date.reset_index(inplace=True,drop=True)

In [31]:
df_new_date.head()

         date   county    state    fips  cases  deaths
0  2020-09-08  Autauga  Alabama  1001.0   1508      24
1  2020-09-08  Baldwin  Alabama  1003.0   4757      46
2  2020-09-08  Barbour  Alabama  1005.0    778       7
3  2020-09-08     Bibb  Alabama  1007.0    589       9
4  2020-09-08   Blount  Alabama  1009.0   1390      12

In [35]:
merged=pd.merge(df_new_date,dd,on='fips')

In [37]:
merged['rate']=(merged['cases_x']-merged['cases_y'])/merged['cases_y']

In [40]:
rate_df=merged.sort_values(['rate'],ascending=False)

In [42]:
rate_df.reset_index(drop=True,inplace=True)

In [43]:
rate_df.head()

,date,county,state,fips,cases_x,deaths,cases_y,rate
0,2020-09-08,Gulf,Florida,12045.0,846,13,1,845.000000
1,2020-09-08,Tehama,California,6103.0,453,1,1,452.000000
2,2020-09-08,Taylor,Florida,12123.0,1231,10,3,409.333333
3,2020-09-08,Polk,Missouri,29167.0,407,1,1,406.000000
4,2020-09-08,Lafayette,Florida,12067.0,1213,10,3,403.333333

## Census Information

In [10]:
# Notes / comments from Tobias

# Please note that some 2019 Data for the ACS will be released on September 17th or later. Details found at the following: 
# https://www.census.gov/programs-surveys/acs/news/data-releases/2019/release-schedule.html

# Instead will get the 2014—2018 ACS 5-Year Narrative Profile. Snapshot / overview is at the following:     
# https://www.census.gov/acs/www/data/data-tables-and-tools/narrative-profiles/2018/report.php?geotype=nation&usVal=us

# Within this snapsot is education, employer type / industry,  occupation, how they commute to work,income, 
# population by age and sex, and type of housing (single family vs apartments / multi-unit). 

# Reference class example from Session 6.3 Geocoding on Census.

In [11]:
# Python Wrapper for Census API 
from census import Census
import requests

In [12]:
# Census API Key
from config import api_key

ImportError: cannot import name 'api_key' from 'config' (C:\Rice Project-1\Repository\Rice-Project-1-G11\config.py)

In [ ]:
# provide the api key and the year to establish a session
c = Census(api_key, year=2018)

In [ ]:
# Set an option to allow up to 300 characters to print in each column
pd.set_option('max_colwidth', 300)

In [ ]:
# query for ACS tables
tables = c.acs5.tables()

In [ ]:
table_df=pd.DataFrame(tables)
table_df.head(50)

### Total Population

In [ ]:
# B01003 TOTAL POPULATION

table_id ='B01003'

url = table_df.loc[table_df['name']==table_id, 'variables'].values[0]

# Make API call
response = requests.get(url).json()

# convert the response to a DataFrame
variables = pd.DataFrame(response['variables']).transpose()

print(f"Number of available variables: {len(variables)}")
variables.head(10)

### Population by Gender

In [ ]:
# B98012 TOTAL POPULATION COVERAGE RATE BY SEX

table_id ='B98012'

url = table_df.loc[table_df['name']==table_id, 'variables'].values[0]

# Make API call
response = requests.get(url).json()

# convert the response to a DataFrame
variables = pd.DataFrame(response['variables']).transpose()

print(f"Number of available variables: {len(variables)}")
variables.head(10)

### Transportation to Work

In [ ]:
# B08301 MEANS OF TRANSPORTATION TO WORK

table_id ='B08301'

url = table_df.loc[table_df['name']==table_id, 'variables'].values[0]

# Make API call
response = requests.get(url).json()

# convert the response to a DataFrame
variables = pd.DataFrame(response['variables']).transpose()

print(f"Number of available variables: {len(variables)}")
variables.head(50)

### Select the Fields of Interest

In [ ]:
census_data = c.acs5.get(("NAME", "B01003_001E", "B98012_001E", "B98012_002E", "B08301_003E", "B08301_011E", 
                          "B08301_021E"), 
                         {'for': 'zip code tabulation area:*'})
census_data[:5]

### Create DataFrame

In [ ]:
# Create DataFrame

census_dataframe = pd.DataFrame(census_data)

# Format and update DataFrame
census_dataframe = census_dataframe.rename(columns={"B01003_001E": "Population",
                                                       "B98012_001E": "Population II",
                                                       "B98012_002E": "Male Population",
                                                       "B98012_003E": "Female Population",
                                                       "B08301_003E": "Drive to Work - Solo Driver", 
                                                       "B08301_011E": "Public Transportation",
                                                       "B08301_021E": "Work from Home", 
                                                       "NAME": "Name", 
                                                       "zip code tabulation area": "Zipcode"
                                                      })

census_dataframe.head()

In [ ]:

location= os.path.join('cases-lat-lng.csv')
df_latlng=pd.read_csv(location)

In [ ]:
df_latlng.head()

In [ ]:
df_latlng=df_latlng.drop(['deaths'],axis=1)

In [ ]:
df_latlng.head()

In [ ]:
place =os.path.join('Resources','ZIP-COUNTY-FIPS_2018-03.csv')
df_fp=pd.read_csv(place)

In [ ]:
df_fp.head()

In [ ]:
fp=df_fp.groupby('STCOUNTYFP')

In [ ]:
fp

In [ ]:
place=os.path.join('Resources','census_dataframe.csv')
cen_df=pd.read_csv(place)

In [ ]:
cen_df.head()

In [ ]:
data=cen_df[['Population','Zipcode']]

In [ ]:
data_df=data.rename({'Zipcode':'ZIP'},axis=1)

In [ ]:
data_df.head()

In [ ]:
zf=zipfp=pd.merge(data_df,df_fp,on='ZIP')

In [ ]:
zf.head()

In [ ]:
zipfp=zipfp.rename({'STCOUNTYFP':'fips'},axis=1)

In [ ]:
g=zipfp.groupby('fips')['Population'].sum()

In [ ]:
ss=pd.merge(df_latlng,g,on='fips')

In [ ]:
ss.head()

In [ ]:
resetss=ss.sort_values('Population',ascending=False)

In [ ]:
resetss.reset_index(inplace=True,drop=True)

In [ ]:
resetss.head()

In [ ]:
resetss['Positivity_Rate']=(resetss['cases'])/(resetss['Population']/100000)

In [ ]:
resetss.head()

In [ ]:
resetss['Positivity_Rate']=resetss['Positivity_Rate'].map("{:.0f}".format)

In [ ]:
resetss['Positivity_Rate']=pd.to_numeric(resetss['Positivity_Rate'])

In [ ]:
resetss.head()

In [ ]:
resetss=resetss.sort_values((['Positivity_Rate']),ascending=False)

In [ ]:
resetss.reset_index(inplace=True,drop=True)

In [ ]:
 top5=resetss.head()

In [ ]:
top5

In [ ]:
pt_locations =top5[['Latitude','Longitude']]
pt_cases=top5['Positivity_Rate'].astype(float)
pt_maxx=top5['Positivity_Rate'].max()

In [ ]:
fig=gmaps.figure()
heat_layer=gmaps.heatmap_layer(pt_locations,weights=pt_cases,dissipating=False,max_intensity=pt_maxx,point_radius=0.9)

In [ ]:
fig.add_layer(heat_layer)

In [ ]:
fig

In [ ]:
info_box_template = """
<dl>
<dt>County</dt><dd>{county}</dd>
<dt>State</dt><dd>{state}</dd>
<dt>Cases</dt><dd>{Positivity_Rate}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
covid_info = [info_box_template.format(**row) for index, row in top5.iterrows()]
locations = top5[["Latitude","Longitude"]]

In [ ]:
marker_layer=gmaps.marker_layer(locations,info_box_content=covid_info)
fig.add_layer(marker_layer)

In [ ]:
fig