In [1]:
import pandas as pd
import os

In [2]:
file_path = os.path.join("Resources","us-counties.csv")
df=pd.read_csv(file_path)

In [3]:
df.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

In [4]:
df_new=df.dropna()

In [5]:
df_new_date=df_new[df_new['date']=='2020-09-08']

In [6]:
df_sorted=df_new_date.sort_values((['cases']),ascending=False)

In [7]:
df_100=df_sorted.head(100)

In [8]:
df_100

              date       county           state     fips   cases  deaths
512032  2020-09-08  Los Angeles      California   6037.0  249241    6036
512191  2020-09-08   Miami-Dade         Florida  12086.0  162025    2666
511930  2020-09-08     Maricopa         Arizona   4013.0  136040    3093
512441  2020-09-08         Cook        Illinois  17031.0  132079    5098
514539  2020-09-08       Harris           Texas  48201.0  112039    2342
...            ...          ...             ...      ...     ...     ...
514271  2020-09-08     Richland  South Carolina  45079.0   12396     204
511937  2020-09-08         Yuma         Arizona   4027.0   12340     331
514676  2020-09-08         Webb           Texas  48479.0   12144     259
514715  2020-09-08         Utah            Utah  49049.0   12103      51
512159  2020-09-08      Collier         Florida  12021.0   12049     184

[100 rows x 6 columns]

In [9]:
df_100.reset_index(drop=True,inplace=True)

In [10]:
df_100.head()

         date       county       state     fips   cases  deaths
0  2020-09-08  Los Angeles  California   6037.0  249241    6036
1  2020-09-08   Miami-Dade     Florida  12086.0  162025    2666
2  2020-09-08     Maricopa     Arizona   4013.0  136040    3093
3  2020-09-08         Cook    Illinois  17031.0  132079    5098
4  2020-09-08       Harris       Texas  48201.0  112039    2342

## Census Information

In [16]:
# Notes / comments from Tobias

# Please note that some 2019 Data for the ACS will be released on September 17th or later. Details found at the following: 
# https://www.census.gov/programs-surveys/acs/news/data-releases/2019/release-schedule.html

# Instead will get the 2014—2018 ACS 5-Year Narrative Profile. Snapshot / overview is at the following:     
# https://www.census.gov/acs/www/data/data-tables-and-tools/narrative-profiles/2018/report.php?geotype=nation&usVal=us

# Within this snapsot is education, employer type / industry,  occupation, how they commute to work,income, 
# population by age and sex, and type of housing (single family vs apartments / multi-unit). 

# Reference class example from Session 6.3 Geocoding on Census.

In [17]:
# Python Wrapper for Census API 
from census import Census

In [18]:
# Census API Key
from config import api_key

In [28]:
# provide the api key and the year to establish a session
c = Census(api_key, year=2018)

In [29]:
# Set an option to allow up to 300 characters to print in each column
pd.set_option('max_colwidth', 300)

In [30]:
# query for ACS tables
tables = c.acs5.tables()

In [31]:
table_df=pd.DataFrame(tables)
table_df

,name,description,variables
0,B17015,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY FAMILY TYPE BY SOCIAL SECURITY INCOME BY SUPPLEMENTAL SECURITY INCOME (SSI) AND CASH PUBLIC ASSISTANCE INCOME,https://api.census.gov/data/2018/acs/acs5/groups/B17015.json
1,B18104,SEX BY AGE BY COGNITIVE DIFFICULTY,https://api.census.gov/data/2018/acs/acs5/groups/B18104.json
2,B17016,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY FAMILY TYPE BY WORK EXPERIENCE OF HOUSEHOLDER AND SPOUSE,https://api.census.gov/data/2018/acs/acs5/groups/B17016.json
3,B18105,SEX BY AGE BY AMBULATORY DIFFICULTY,https://api.census.gov/data/2018/acs/acs5/groups/B18105.json
4,B17017,POVERTY STATUS IN THE PAST 12 MONTHS BY HOUSEHOLD TYPE BY AGE OF HOUSEHOLDER,https://api.census.gov/data/2018/acs/acs5/groups/B17017.json
...,...,...,...
1130,B99131,ALLOCATION OF MARITAL STATUS FOR FEMALES 15 TO 50 YEARS,https://api.census.gov/data/2018/acs/acs5/groups/B99131.json
1131,B09018,RELATIONSHIP TO HOUSEHOLDER FOR CHILDREN UNDER 18 YEARS IN HOUSEHOLDS,https://api.census.gov/data/2018/acs/acs5/groups/B09018.json
1132,B99132,ALLOCATION OF FERTILITY OF WOMEN 15 TO 50 YEARS,https://api.census.gov/data/2018/acs/acs5/groups/B99132.json
1133,B09019,HOUSEHOLD TYPE (INCLUDING LIVING ALONE) BY RELATIONSHIP,https://api.census.gov/data/2018/acs/acs5/groups/B09019.json
1134,B09010,"RECEIPT OF SUPPLEMENTAL SECURITY INCOME (SSI), CASH PUBLIC ASSISTANCE INCOME, OR FOOD STAMPS/SNAP IN THE PAST 12 MONTHS BY HOUSEHOLD TYPE FOR CHILDREN UNDER 18 YEARS IN HOUSEHOLDS",https://api.census.gov/data/2018/acs/acs5/groups/B09010.json