In [7]:
import pandas as pd
import os

In [8]:
file_path = os.path.join("Resources","us-counties.csv")
df=pd.read_csv(file_path)

In [9]:
df.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

In [10]:
df_new=df.dropna()

In [5]:
df_new_date=df_new[df_new['date']=='2020-09-08']

In [6]:
df_sorted=df_new_date.sort_values((['cases']),ascending=False)

In [7]:
df_100=df_sorted.head(100)

In [8]:
df_100

              date       county           state     fips   cases  deaths
512032  2020-09-08  Los Angeles      California   6037.0  249241    6036
512191  2020-09-08   Miami-Dade         Florida  12086.0  162025    2666
511930  2020-09-08     Maricopa         Arizona   4013.0  136040    3093
512441  2020-09-08         Cook        Illinois  17031.0  132079    5098
514539  2020-09-08       Harris           Texas  48201.0  112039    2342
...            ...          ...             ...      ...     ...     ...
514271  2020-09-08     Richland  South Carolina  45079.0   12396     204
511937  2020-09-08         Yuma         Arizona   4027.0   12340     331
514676  2020-09-08         Webb           Texas  48479.0   12144     259
514715  2020-09-08         Utah            Utah  49049.0   12103      51
512159  2020-09-08      Collier         Florida  12021.0   12049     184

[100 rows x 6 columns]

In [9]:
df_100.reset_index(drop=True,inplace=True)

In [10]:
df_100.head()

         date       county       state     fips   cases  deaths
0  2020-09-08  Los Angeles  California   6037.0  249241    6036
1  2020-09-08   Miami-Dade     Florida  12086.0  162025    2666
2  2020-09-08     Maricopa     Arizona   4013.0  136040    3093
3  2020-09-08         Cook    Illinois  17031.0  132079    5098
4  2020-09-08       Harris       Texas  48201.0  112039    2342

## Census Information

In [16]:
# Notes / comments from Tobias

# Please note that some 2019 Data for the ACS will be released on September 17th or later. Details found at the following: 
# https://www.census.gov/programs-surveys/acs/news/data-releases/2019/release-schedule.html

# Instead will get the 2014â€”2018 ACS 5-Year Narrative Profile. Snapshot / overview is at the following:     
# https://www.census.gov/acs/www/data/data-tables-and-tools/narrative-profiles/2018/report.php?geotype=nation&usVal=us

# Within this snapsot is education, employer type / industry,  occupation, how they commute to work,income, 
# population by age and sex, and type of housing (single family vs apartments / multi-unit). 

# Reference class example from Session 6.3 Geocoding on Census.

In [21]:
# Python Wrapper for Census API 
from census import Census
import requests

In [22]:
# Census API Key
from config import api_key

ImportError: cannot import name 'api_key' from 'config' (C:\Rice Project-1\Repository\Rice-Project-1-G11\config.py)

In [ ]:
# provide the api key and the year to establish a session
c = Census(api_key, year=2018)

In [ ]:
# Set an option to allow up to 300 characters to print in each column
pd.set_option('max_colwidth', 300)

In [ ]:
# query for ACS tables
tables = c.acs5.tables()

In [ ]:
table_df=pd.DataFrame(tables)
table_df.head(50)

### Total Population

In [84]:
# B01003 TOTAL POPULATION

table_id ='B01003'

url = table_df.loc[table_df['name']==table_id, 'variables'].values[0]

# Make API call
response = requests.get(url).json()

# convert the response to a DataFrame
variables = pd.DataFrame(response['variables']).transpose()

print(f"Number of available variables: {len(variables)}")
variables.head(10)

Number of available variables: 4

,label,concept,predicateType,group,limit,predicateOnly
B01003_001E,Estimate!!Total,TOTAL POPULATION,int,B01003,0,True
B01003_001M,Margin of Error!!Total,TOTAL POPULATION,int,B01003,0,True
B01003_001MA,Annotation of Margin of Error!!Total,NaN,string,B01003,0,True
B01003_001EA,Annotation of Estimate!!Total,NaN,string,B01003,0,True

### Population by Gender

In [85]:
# B98012 TOTAL POPULATION COVERAGE RATE BY SEX

table_id ='B98012'

url = table_df.loc[table_df['name']==table_id, 'variables'].values[0]

# Make API call
response = requests.get(url).json()

# convert the response to a DataFrame
variables = pd.DataFrame(response['variables']).transpose()

print(f"Number of available variables: {len(variables)}")
variables.head(10)

Number of available variables: 6

,label,concept,predicateType,group,limit,predicateOnly
B98012_002E,Estimate!!Total!!Male,TOTAL POPULATION COVERAGE RATE BY SEX,float,B98012,0,True
B98012_001E,Estimate!!Total,TOTAL POPULATION COVERAGE RATE BY SEX,float,B98012,0,True
B98012_003E,Estimate!!Total!!Female,TOTAL POPULATION COVERAGE RATE BY SEX,float,B98012,0,True
B98012_002EA,Annotation of Estimate!!Total!!Male,NaN,string,B98012,0,True
B98012_003EA,Annotation of Estimate!!Total!!Female,NaN,string,B98012,0,True
B98012_001EA,Annotation of Estimate!!Total,NaN,string,B98012,0,True

### Transportation to Work

In [89]:
# B08301 MEANS OF TRANSPORTATION TO WORK

table_id ='B08301'

url = table_df.loc[table_df['name']==table_id, 'variables'].values[0]

# Make API call
response = requests.get(url).json()

# convert the response to a DataFrame
variables = pd.DataFrame(response['variables']).transpose()

print(f"Number of available variables: {len(variables)}")
variables.head(50)

Number of available variables: 84

,label,concept,predicateType,group,limit,predicateOnly
B08301_007M,"Margin of Error!!Total!!Car, truck, or van!!Carpooled!!In 4-person carpool",MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_007E,"Estimate!!Total!!Car, truck, or van!!Carpooled!!In 4-person carpool",MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_006M,"Margin of Error!!Total!!Car, truck, or van!!Carpooled!!In 3-person carpool",MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_006E,"Estimate!!Total!!Car, truck, or van!!Carpooled!!In 3-person carpool",MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_009M,"Margin of Error!!Total!!Car, truck, or van!!Carpooled!!In 7-or-more-person carpool",MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_009E,"Estimate!!Total!!Car, truck, or van!!Carpooled!!In 7-or-more-person carpool",MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_008M,"Margin of Error!!Total!!Car, truck, or van!!Carpooled!!In 5- or 6-person carpool",MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_008E,"Estimate!!Total!!Car, truck, or van!!Carpooled!!In 5- or 6-person carpool",MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_003M,"Margin of Error!!Total!!Car, truck, or van!!Drove alone",MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_003E,"Estimate!!Total!!Car, truck, or van!!Drove alone",MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_002E,"Estimate!!Total!!Car, truck, or van",MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_002M,"Margin of Error!!Total!!Car, truck, or van",MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_005M,"Margin of Error!!Total!!Car, truck, or van!!Carpooled!!In 2-person carpool",MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_005E,"Estimate!!Total!!Car, truck, or van!!Carpooled!!In 2-person carpool",MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_004M,"Margin of Error!!Total!!Car, truck, or van!!Carpooled",MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_004E,"Estimate!!Total!!Car, truck, or van!!Carpooled",MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_011E,Estimate!!Total!!Public transportation (excluding taxicab)!!Bus or trolley bus,MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_011M,Margin of Error!!Total!!Public transportation (excluding taxicab)!!Bus or trolley bus,MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_010E,Estimate!!Total!!Public transportation (excluding taxicab),MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_010M,Margin of Error!!Total!!Public transportation (excluding taxicab),MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_013E,Estimate!!Total!!Public transportation (excluding taxicab)!!Subway or elevated,MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_013M,Margin of Error!!Total!!Public transportation (excluding taxicab)!!Subway or elevated,MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_012E,Estimate!!Total!!Public transportation (excluding taxicab)!!Streetcar or trolley car (carro publico in Puerto Rico),MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_012M,Margin of Error!!Total!!Public transportation (excluding taxicab)!!Streetcar or trolley car (carro publico in Puerto Rico),MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_001E,Estimate!!Total,MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_001M,Margin of Error!!Total,MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_019M,Margin of Error!!Total!!Walked,MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_019E,Estimate!!Total!!Walked,MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_018M,Margin of Error!!Total!!Bicycle,MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_018E,Estimate!!Total!!Bicycle,MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_015M,Margin of Error!!Total!!Public transportation (excluding taxicab)!!Ferryboat,MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_015E,Estimate!!Total!!Public transportation (excluding taxicab)!!Ferryboat,MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_014M,Margin of Error!!Total!!Public transportation (excluding taxicab)!!Railroad,MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_014E,Estimate!!Total!!Public transportation (excluding taxicab)!!Railroad,MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_017M,Margin of Error!!Total!!Motorcycle,MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_017E,Estimate!!Total!!Motorcycle,MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_016M,Margin of Error!!Total!!Taxicab,MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_016E,Estimate!!Total!!Taxicab,MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_021E,Estimate!!Total!!Worked at home,MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_021M,Margin of Error!!Total!!Worked at home,MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_020E,Estimate!!Total!!Other means,MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_020M,Margin of Error!!Total!!Other means,MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_009EA,"Annotation of Estimate!!Total!!Car, truck, or van!!Carpooled!!In 7-or-more-person carpool",NaN,string,B08301,0,True
B08301_008MA,"Annotation of Margin of Error!!Total!!Car, truck, or van!!Carpooled!!In 5- or 6-person carpool",NaN,string,B08301,0,True
B08301_008EA,"Annotation of Estimate!!Total!!Car, truck, or van!!Carpooled!!In 5- or 6-person carpool",NaN,string,B08301,0,True
B08301_007MA,"Annotation of Margin of Error!!Total!!Car, truck, or van!!Carpooled!!In 4-person carpool",NaN,string,B08301,0,True
B08301_007EA,"Annotation of Estimate!!Total!!Car, truck, or van!!Carpooled!!In 4-person carpool",NaN,string,B08301,0,True
B08301_006MA,"Annotation of Margin of Error!!Total!!Car, truck, or van!!Carpooled!!In 3-person carpool",NaN,string,B08301,0,True
B08301_006EA,"Annotation of Estimate!!Total!!Car, truck, or van!!Carpooled!!In 3-person carpool",NaN,string,B08301,0,True
B08301_005MA,"Annotation of Margin of Error!!Total!!Car, truck, or van!!Carpooled!!In 2-person carpool",NaN,string,B08301,0,True

### Select the Fields of Interest

In [90]:
census_data = c.acs5.get(("NAME", "B01003_001E", "B98012_001E", "B98012_002E", "B08301_003E", "B08301_011E", 
                          "B08301_021E"), 
                         {'for': 'zip code tabulation area:*'})
census_data[:5]

[{'NAME': 'ZCTA5 43964',
  'B01003_001E': 8642.0,
  'B98012_001E': None,
  'B98012_002E': None,
  'B08301_003E': 3173.0,
  'B08301_011E': 0.0,
  'B08301_021E': 75.0,
  'zip code tabulation area': '43964'},
 {'NAME': 'ZCTA5 28216',
  'B01003_001E': 51116.0,
  'B98012_001E': None,
  'B98012_002E': None,
  'B08301_003E': 20406.0,
  'B08301_011E': 742.0,
  'B08301_021E': 1499.0,
  'zip code tabulation area': '28216'},
 {'NAME': 'ZCTA5 28277',
  'B01003_001E': 71605.0,
  'B98012_001E': None,
  'B98012_002E': None,
  'B08301_003E': 28558.0,
  'B08301_011E': 326.0,
  'B08301_021E': 4072.0,
  'zip code tabulation area': '28277'},
 {'NAME': 'ZCTA5 28278',
  'B01003_001E': 27286.0,
  'B98012_001E': None,
  'B98012_002E': None,
  'B08301_003E': 11700.0,
  'B08301_011E': 36.0,
  'B08301_021E': 1282.0,
  'zip code tabulation area': '28278'},
 {'NAME': 'ZCTA5 28303',
  'B01003_001E': 29414.0,
  'B98012_001E': None,
  'B98012_002E': None,
  'B08301_003E': 11272.0,
  'B08301_011E': 131.0,
  'B08301_021E': 512.0,
  'zip code tabulation area': '28303'}]

### Create DataFrame

In [20]:
# Create DataFrame

census_dataframe = pd.DataFrame(census_data)

# Format and update DataFrame
census_dataframe = census_dataframe.rename(columns={"B01003_001E": "Population",
                                                       "B98012_001E": "Population II",
                                                       "B98012_002E": "Male Population",
                                                       "B98012_003E": "Female Population",
                                                       "B08301_003E": "Drive to Work - Solo Driver", 
                                                       "B08301_011E": "Public Transportation",
                                                       "B08301_021E": "Work from Home", 
                                                       "NAME": "Name", 
                                                       "zip code tabulation area": "Zipcode"
                                                      })

census_dataframe.head()

NameError: name 'census_data' is not defined

In [2]:

location= os.path.join('cases-lat-lng.csv')
df_latlng=pd.read_csv(location)

In [3]:
df_latlng.head()

         date   county    state    fips  cases  deaths   Latitude  Longitude
0  2020-09-08  Autauga  Alabama  1001.0   1508      24  32.579182 -86.499655
1  2020-09-08  Baldwin  Alabama  1003.0   4757      46  30.601074 -87.776333
2  2020-09-08  Barbour  Alabama  1005.0    778       7  31.817290 -85.354965
3  2020-09-08     Bibb  Alabama  1007.0    589       9  32.956280 -87.142289
4  2020-09-08   Blount  Alabama  1009.0   1390      12  34.014515 -86.499655

In [4]:
df_latlng=df_latlng.drop(['deaths'],axis=1)

In [5]:
df_latlng.head()

         date   county    state    fips  cases   Latitude  Longitude
0  2020-09-08  Autauga  Alabama  1001.0   1508  32.579182 -86.499655
1  2020-09-08  Baldwin  Alabama  1003.0   4757  30.601074 -87.776333
2  2020-09-08  Barbour  Alabama  1005.0    778  31.817290 -85.354965
3  2020-09-08     Bibb  Alabama  1007.0    589  32.956280 -87.142289
4  2020-09-08   Blount  Alabama  1009.0   1390  34.014515 -86.499655

In [15]:
place =os.path.join('Resources','ZIP-COUNTY-FIPS_2018-03.csv')
df_fp=pd.read_csv(place)

In [16]:
df_fp.head()

     ZIP  STCOUNTYFP           CITY STATE      COUNTYNAME CLASSFP
0  36091        1001        Verbena    AL  Autauga County      H1
1  36758        1001  Plantersville    AL  Autauga County      H1
2  36006        1001    Billingsley    AL  Autauga County      H1
3  36067        1001     Prattville    AL  Autauga County      H1
4  36701        1001          Selma    AL  Autauga County      H1

In [18]:
fp=df_fp.groupby('STCOUNTYFP')

In [19]:
fp