In [1]:
import pandas as pd
import os

In [2]:
file_path = os.path.join("Resources","us-counties.csv")
df=pd.read_csv(file_path)

In [3]:
df.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

In [4]:
df_new=df.dropna()

In [5]:
df_new_date=df_new[df_new['date']=='2020-09-08']

In [6]:
df_sorted=df_new_date.sort_values((['cases']),ascending=False)

In [7]:
df_100=df_sorted.head(100)

In [8]:
df_100

              date       county           state     fips   cases  deaths
512032  2020-09-08  Los Angeles      California   6037.0  249241    6036
512191  2020-09-08   Miami-Dade         Florida  12086.0  162025    2666
511930  2020-09-08     Maricopa         Arizona   4013.0  136040    3093
512441  2020-09-08         Cook        Illinois  17031.0  132079    5098
514539  2020-09-08       Harris           Texas  48201.0  112039    2342
...            ...          ...             ...      ...     ...     ...
514271  2020-09-08     Richland  South Carolina  45079.0   12396     204
511937  2020-09-08         Yuma         Arizona   4027.0   12340     331
514676  2020-09-08         Webb           Texas  48479.0   12144     259
514715  2020-09-08         Utah            Utah  49049.0   12103      51
512159  2020-09-08      Collier         Florida  12021.0   12049     184

[100 rows x 6 columns]

In [9]:
df_100.reset_index(drop=True,inplace=True)

In [10]:
df_100.head()

         date       county       state     fips   cases  deaths
0  2020-09-08  Los Angeles  California   6037.0  249241    6036
1  2020-09-08   Miami-Dade     Florida  12086.0  162025    2666
2  2020-09-08     Maricopa     Arizona   4013.0  136040    3093
3  2020-09-08         Cook    Illinois  17031.0  132079    5098
4  2020-09-08       Harris       Texas  48201.0  112039    2342

## Census Information

In [16]:
# Notes / comments from Tobias

# Please note that some 2019 Data for the ACS will be released on September 17th or later. Details found at the following: 
# https://www.census.gov/programs-surveys/acs/news/data-releases/2019/release-schedule.html

# Instead will get the 2014—2018 ACS 5-Year Narrative Profile. Snapshot / overview is at the following:     
# https://www.census.gov/acs/www/data/data-tables-and-tools/narrative-profiles/2018/report.php?geotype=nation&usVal=us

# Within this snapsot is education, employer type / industry,  occupation, how they commute to work,income, 
# population by age and sex, and type of housing (single family vs apartments / multi-unit). 

# Reference class example from Session 6.3 Geocoding on Census.

In [73]:
# Python Wrapper for Census API 
from census import Census
import requests

In [74]:
# Census API Key
from config import api_key

In [75]:
# provide the api key and the year to establish a session
c = Census(api_key, year=2018)

In [76]:
# Set an option to allow up to 300 characters to print in each column
pd.set_option('max_colwidth', 300)

In [77]:
# query for ACS tables
tables = c.acs5.tables()

In [78]:
table_df=pd.DataFrame(tables)
table_df.head(50)

,name,description,variables
0,B17015,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY FAMILY TYPE BY SOCIAL SECURITY INCOME BY SUPPLEMENTAL SECURITY INCOME (SSI) AND CASH PUBLIC ASSISTANCE INCOME,https://api.census.gov/data/2018/acs/acs5/groups/B17015.json
1,B18104,SEX BY AGE BY COGNITIVE DIFFICULTY,https://api.census.gov/data/2018/acs/acs5/groups/B18104.json
2,B17016,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY FAMILY TYPE BY WORK EXPERIENCE OF HOUSEHOLDER AND SPOUSE,https://api.census.gov/data/2018/acs/acs5/groups/B17016.json
3,B18105,SEX BY AGE BY AMBULATORY DIFFICULTY,https://api.census.gov/data/2018/acs/acs5/groups/B18105.json
4,B17017,POVERTY STATUS IN THE PAST 12 MONTHS BY HOUSEHOLD TYPE BY AGE OF HOUSEHOLDER,https://api.census.gov/data/2018/acs/acs5/groups/B17017.json
5,B18106,SEX BY AGE BY SELF-CARE DIFFICULTY,https://api.census.gov/data/2018/acs/acs5/groups/B18106.json
6,B17018,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER,https://api.census.gov/data/2018/acs/acs5/groups/B17018.json
7,B18107,SEX BY AGE BY INDEPENDENT LIVING DIFFICULTY,https://api.census.gov/data/2018/acs/acs5/groups/B18107.json
8,B07001PR,GEOGRAPHICAL MOBILITY IN THE PAST YEAR BY AGE FOR CURRENT RESIDENCE IN PUERTO RICO,https://api.census.gov/data/2018/acs/acs5/groups/B07001PR.json
9,B19301A,PER CAPITA INCOME IN THE PAST 12 MONTHS (IN 2018 INFLATION-ADJUSTED DOLLARS) (WHITE ALONE),https://api.census.gov/data/2018/acs/acs5/groups/B19301A.json
10,B17011,AGGREGATE INCOME DEFICIT (DOLLARS) IN THE PAST 12 MONTHS FOR FAMILIES BY FAMILY TYPE,https://api.census.gov/data/2018/acs/acs5/groups/B17011.json
11,B17012,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY NUMBER OF RELATED CHILDREN UNDER 18 YEARS,https://api.census.gov/data/2018/acs/acs5/groups/B17012.json
12,B18101,SEX BY AGE BY DISABILITY STATUS,https://api.census.gov/data/2018/acs/acs5/groups/B18101.json
13,B17013,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY NUMBER OF PERSONS IN FAMILY,https://api.census.gov/data/2018/acs/acs5/groups/B17013.json
14,B18102,SEX BY AGE BY HEARING DIFFICULTY,https://api.census.gov/data/2018/acs/acs5/groups/B18102.json
15,B17014,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY NUMBER OF WORKERS IN FAMILY,https://api.census.gov/data/2018/acs/acs5/groups/B17014.json
16,B18103,SEX BY AGE BY VISION DIFFICULTY,https://api.census.gov/data/2018/acs/acs5/groups/B18103.json
17,B19301E,PER CAPITA INCOME IN THE PAST 12 MONTHS (IN 2018 INFLATION-ADJUSTED DOLLARS) (NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER ALONE),https://api.census.gov/data/2018/acs/acs5/groups/B19301E.json
18,B19301D,PER CAPITA INCOME IN THE PAST 12 MONTHS (IN 2018 INFLATION-ADJUSTED DOLLARS) (ASIAN ALONE),https://api.census.gov/data/2018/acs/acs5/groups/B19301D.json
19,B19301C,PER CAPITA INCOME IN THE PAST 12 MONTHS (IN 2018 INFLATION-ADJUSTED DOLLARS) (AMERICAN INDIAN AND ALASKA NATIVE ALONE),https://api.census.gov/data/2018/acs/acs5/groups/B19301C.json
20,B19301B,PER CAPITA INCOME IN THE PAST 12 MONTHS (IN 2018 INFLATION-ADJUSTED DOLLARS) (BLACK OR AFRICAN AMERICAN ALONE),https://api.census.gov/data/2018/acs/acs5/groups/B19301B.json
21,B17010,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY FAMILY TYPE BY PRESENCE OF RELATED CHILDREN UNDER 18 YEARS BY AGE OF RELATED CHILDREN,https://api.census.gov/data/2018/acs/acs5/groups/B17010.json
22,B98013,TOTAL POPULATION COVERAGE RATE BY WEIGHTING RACE AND HISPANIC OR LATINO GROUPS,https://api.census.gov/data/2018/acs/acs5/groups/B98013.json
23,B99102,ALLOCATION OF GRANDPARENTS LIVING WITH GRANDCHILDREN UNDER 18 YEARS,https://api.census.gov/data/2018/acs/acs5/groups/B99102.json
24,B19301I,PER CAPITA INCOME IN THE PAST 12 MONTHS (IN 2018 INFLATION-ADJUSTED DOLLARS) (HISPANIC OR LATINO),https://api.census.gov/data/2018/acs/acs5/groups/B19301I.json
25,B98012,TOTAL POPULATION COVERAGE RATE BY SEX,https://api.census.gov/data/2018/acs/acs5/groups/B98012.json
26,B19301H,"PER CAPITA INCOME IN THE PAST 12 MONTHS (IN 2018 INFLATION-ADJUSTED DOLLARS) (WHITE ALONE, NOT HISPANIC OR LATINO)",https://api.census.gov/data/2018/acs/acs5/groups/B19301H.json
27,B99104,ALLOCATION OF LENGTH OF TIME GRANDPARENT RESPONSIBLE FOR OWN GRANDCHILDREN UNDER 18 YEARS FOR THE POPULATION 30 YEARS AND OVER,https://api.census.gov/data/2018/acs/acs5/groups/B99104.json
28,B19301G,PER CAPITA INCOME IN THE PAST 12 MONTHS (IN 2018 INFLATION-ADJUSTED DOLLARS) (TWO OR MORE RACES),https://api.census.gov/data/2018/acs/acs5/groups/B19301G.json
29,B98014,GROUP QUARTERS POPULATION COVERAGE RATE,https://api.census.gov/data/2018/acs/acs5/groups/B98014.json
30,B99103,ALLOCATION OF GRANDPARENTS RESPONSIBLE FOR GRANDCHILDREN UNDER 18 YEARS,https://api.census.gov/data/2018/acs/acs5/groups/B99103.json
31,B19301F,PER CAPITA INCOME IN THE PAST 12 MONTHS (IN 2018 INFLATION-ADJUSTED DOLLARS) (SOME OTHER RACE ALONE),https://api.census.gov/data/2018/acs/acs5/groups/B19301F.json
32,B08536,AGGREGATE TRAVEL TIME TO WORK (IN MINUTES) OF WORKERS BY MEANS OF TRANSPORTATION TO WORK FOR WORKPLACE GEOGRAPHY,https://api.census.gov/data/2018/acs/acs5/groups/B08536.json
33,B08537,MEANS OF TRANSPORTATION TO WORK BY TENURE FOR WORKPLACE GEOGRAPHY,https://api.census.gov/data/2018/acs/acs5/groups/B08537.json
34,B98011,HOUSING UNIT COVERAGE RATE,https://api.census.gov/data/2018/acs/acs5/groups/B98011.json
35,B07203,GEOGRAPHICAL MOBILITY IN THE PAST YEAR FOR CURRENT RESIDENCE--NOT METROPOLITAN OR MICROPOLITAN STATISTICAL AREA LEVEL IN THE UNITED STATES,https://api.census.gov/data/2018/acs/acs5/groups/B07203.json
36,B08534,MEANS OF TRANSPORTATION TO WORK BY TRAVEL TIME TO WORK FOR WORKPLACE GEOGRAPHY,https://api.census.gov/data/2018/acs/acs5/groups/B08534.json
37,B07204,"GEOGRAPHICAL MOBILITY IN THE PAST YEAR FOR CURRENT RESIDENCE--STATE, COUNTY AND PLACE LEVEL IN THE UNITED STATES",https://api.census.gov/data/2018/acs/acs5/groups/B07204.json
38,B07408PR,GEOGRAPHICAL MOBILITY IN THE PAST YEAR BY MARITAL STATUS FOR RESIDENCE 1 YEAR AGO IN PUERTO RICO,https://api.census.gov/data/2018/acs/acs5/groups/B07408PR.json
39,B07201,GEOGRAPHICAL MOBILITY IN THE PAST YEAR FOR CURRENT RESIDENCE--METROPOLITAN STATISTICAL AREA LEVEL IN THE UNITED STATES,https://api.census.gov/data/2018/acs/acs5/groups/B07201.json
40,B08532,MEANS OF TRANSPORTATION TO WORK BY TIME ARRIVING AT WORK FROM HOME FOR WORKPLACE GEOGRAPHY,https://api.census.gov/data/2018/acs/acs5/groups/B08532.json
41,B07202,GEOGRAPHICAL MOBILITY IN THE PAST YEAR FOR CURRENT RESIDENCE--MICROPOLITAN STATISTICAL AREA LEVEL IN THE UNITED STATES,https://api.census.gov/data/2018/acs/acs5/groups/B07202.json
42,B07404APR,GEOGRAPHICAL MOBILITY IN THE PAST YEAR (WHITE ALONE) FOR RESIDENCE 1 YEAR AGO IN PUERTO RICO,https://api.census.gov/data/2018/acs/acs5/groups/B07404APR.json
43,B17019,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY TENURE,https://api.census.gov/data/2018/acs/acs5/groups/B17019.json
44,B17004,POVERTY STATUS IN THE PAST 12 MONTHS OF INDIVIDUALS BY SEX BY WORK EXPERIENCE,https://api.census.gov/data/2018/acs/acs5/groups/B17004.json
45,B17005,POVERTY STATUS IN THE PAST 12 MONTHS OF INDIVIDUALS BY SEX BY EMPLOYMENT STATUS,https://api.census.gov/data/2018/acs/acs5/groups/B17005.json
46,B17006,POVERTY STATUS IN THE PAST 12 MONTHS OF RELATED CHILDREN UNDER 18 YEARS BY FAMILY TYPE BY AGE OF RELATED CHILDREN UNDER 18 YEARS,https://api.census.gov/data/2018/acs/acs5/groups/B17006.json
47,B17007,POVERTY STATUS IN THE PAST 12 MONTHS OF UNRELATED INDIVIDUALS 15 YEARS AND OVER BY SEX BY AGE,https://api.census.gov/data/2018/acs/acs5/groups/B17007.json
48,B07012PR,GEOGRAPHICAL MOBILITY IN THE PAST YEAR BY POVERTY STATUS IN THE PAST 12 MONTHS FOR CURRENT RESIDENCE IN PUERTO RICO,https://api.census.gov/data/2018/acs/acs5/groups/B07012PR.json
49,B18101I,AGE BY DISABILITY STATUS (HISPANIC OR LATINO),https://api.census.gov/data/2018/acs/acs5/groups/B18101I.json

### Total Population

In [84]:
# B01003 TOTAL POPULATION

table_id ='B01003'

url = table_df.loc[table_df['name']==table_id, 'variables'].values[0]

# Make API call
response = requests.get(url).json()

# convert the response to a DataFrame
variables = pd.DataFrame(response['variables']).transpose()

print(f"Number of available variables: {len(variables)}")
variables.head(10)

Number of available variables: 4

,label,concept,predicateType,group,limit,predicateOnly
B01003_001E,Estimate!!Total,TOTAL POPULATION,int,B01003,0,True
B01003_001M,Margin of Error!!Total,TOTAL POPULATION,int,B01003,0,True
B01003_001MA,Annotation of Margin of Error!!Total,NaN,string,B01003,0,True
B01003_001EA,Annotation of Estimate!!Total,NaN,string,B01003,0,True

### Population by Gender

In [85]:
# B98012 TOTAL POPULATION COVERAGE RATE BY SEX

table_id ='B98012'

url = table_df.loc[table_df['name']==table_id, 'variables'].values[0]

# Make API call
response = requests.get(url).json()

# convert the response to a DataFrame
variables = pd.DataFrame(response['variables']).transpose()

print(f"Number of available variables: {len(variables)}")
variables.head(10)

Number of available variables: 6

,label,concept,predicateType,group,limit,predicateOnly
B98012_002E,Estimate!!Total!!Male,TOTAL POPULATION COVERAGE RATE BY SEX,float,B98012,0,True
B98012_001E,Estimate!!Total,TOTAL POPULATION COVERAGE RATE BY SEX,float,B98012,0,True
B98012_003E,Estimate!!Total!!Female,TOTAL POPULATION COVERAGE RATE BY SEX,float,B98012,0,True
B98012_002EA,Annotation of Estimate!!Total!!Male,NaN,string,B98012,0,True
B98012_003EA,Annotation of Estimate!!Total!!Female,NaN,string,B98012,0,True
B98012_001EA,Annotation of Estimate!!Total,NaN,string,B98012,0,True

### Transportation to Work

In [89]:
# B08301 MEANS OF TRANSPORTATION TO WORK

table_id ='B08301'

url = table_df.loc[table_df['name']==table_id, 'variables'].values[0]

# Make API call
response = requests.get(url).json()

# convert the response to a DataFrame
variables = pd.DataFrame(response['variables']).transpose()

print(f"Number of available variables: {len(variables)}")
variables.head(50)

Number of available variables: 84

,label,concept,predicateType,group,limit,predicateOnly
B08301_007M,"Margin of Error!!Total!!Car, truck, or van!!Carpooled!!In 4-person carpool",MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_007E,"Estimate!!Total!!Car, truck, or van!!Carpooled!!In 4-person carpool",MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_006M,"Margin of Error!!Total!!Car, truck, or van!!Carpooled!!In 3-person carpool",MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_006E,"Estimate!!Total!!Car, truck, or van!!Carpooled!!In 3-person carpool",MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_009M,"Margin of Error!!Total!!Car, truck, or van!!Carpooled!!In 7-or-more-person carpool",MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_009E,"Estimate!!Total!!Car, truck, or van!!Carpooled!!In 7-or-more-person carpool",MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_008M,"Margin of Error!!Total!!Car, truck, or van!!Carpooled!!In 5- or 6-person carpool",MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_008E,"Estimate!!Total!!Car, truck, or van!!Carpooled!!In 5- or 6-person carpool",MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_003M,"Margin of Error!!Total!!Car, truck, or van!!Drove alone",MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_003E,"Estimate!!Total!!Car, truck, or van!!Drove alone",MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_002E,"Estimate!!Total!!Car, truck, or van",MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_002M,"Margin of Error!!Total!!Car, truck, or van",MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_005M,"Margin of Error!!Total!!Car, truck, or van!!Carpooled!!In 2-person carpool",MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_005E,"Estimate!!Total!!Car, truck, or van!!Carpooled!!In 2-person carpool",MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_004M,"Margin of Error!!Total!!Car, truck, or van!!Carpooled",MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_004E,"Estimate!!Total!!Car, truck, or van!!Carpooled",MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_011E,Estimate!!Total!!Public transportation (excluding taxicab)!!Bus or trolley bus,MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_011M,Margin of Error!!Total!!Public transportation (excluding taxicab)!!Bus or trolley bus,MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_010E,Estimate!!Total!!Public transportation (excluding taxicab),MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_010M,Margin of Error!!Total!!Public transportation (excluding taxicab),MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_013E,Estimate!!Total!!Public transportation (excluding taxicab)!!Subway or elevated,MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_013M,Margin of Error!!Total!!Public transportation (excluding taxicab)!!Subway or elevated,MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_012E,Estimate!!Total!!Public transportation (excluding taxicab)!!Streetcar or trolley car (carro publico in Puerto Rico),MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_012M,Margin of Error!!Total!!Public transportation (excluding taxicab)!!Streetcar or trolley car (carro publico in Puerto Rico),MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_001E,Estimate!!Total,MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_001M,Margin of Error!!Total,MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_019M,Margin of Error!!Total!!Walked,MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_019E,Estimate!!Total!!Walked,MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_018M,Margin of Error!!Total!!Bicycle,MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_018E,Estimate!!Total!!Bicycle,MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_015M,Margin of Error!!Total!!Public transportation (excluding taxicab)!!Ferryboat,MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_015E,Estimate!!Total!!Public transportation (excluding taxicab)!!Ferryboat,MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_014M,Margin of Error!!Total!!Public transportation (excluding taxicab)!!Railroad,MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_014E,Estimate!!Total!!Public transportation (excluding taxicab)!!Railroad,MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_017M,Margin of Error!!Total!!Motorcycle,MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_017E,Estimate!!Total!!Motorcycle,MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_016M,Margin of Error!!Total!!Taxicab,MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_016E,Estimate!!Total!!Taxicab,MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_021E,Estimate!!Total!!Worked at home,MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_021M,Margin of Error!!Total!!Worked at home,MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_020E,Estimate!!Total!!Other means,MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_020M,Margin of Error!!Total!!Other means,MEANS OF TRANSPORTATION TO WORK,int,B08301,0,True
B08301_009EA,"Annotation of Estimate!!Total!!Car, truck, or van!!Carpooled!!In 7-or-more-person carpool",NaN,string,B08301,0,True
B08301_008MA,"Annotation of Margin of Error!!Total!!Car, truck, or van!!Carpooled!!In 5- or 6-person carpool",NaN,string,B08301,0,True
B08301_008EA,"Annotation of Estimate!!Total!!Car, truck, or van!!Carpooled!!In 5- or 6-person carpool",NaN,string,B08301,0,True
B08301_007MA,"Annotation of Margin of Error!!Total!!Car, truck, or van!!Carpooled!!In 4-person carpool",NaN,string,B08301,0,True
B08301_007EA,"Annotation of Estimate!!Total!!Car, truck, or van!!Carpooled!!In 4-person carpool",NaN,string,B08301,0,True
B08301_006MA,"Annotation of Margin of Error!!Total!!Car, truck, or van!!Carpooled!!In 3-person carpool",NaN,string,B08301,0,True
B08301_006EA,"Annotation of Estimate!!Total!!Car, truck, or van!!Carpooled!!In 3-person carpool",NaN,string,B08301,0,True
B08301_005MA,"Annotation of Margin of Error!!Total!!Car, truck, or van!!Carpooled!!In 2-person carpool",NaN,string,B08301,0,True

### Select the Fields of Interest

In [90]:
census_data = c.acs5.get(("NAME", "B01003_001E", "B98012_001E", "B98012_002E", "B08301_003E", "B08301_011E", 
                          "B08301_021E"), 
                         {'for': 'zip code tabulation area:*'})
census_data[:5]

[{'NAME': 'ZCTA5 43964',
  'B01003_001E': 8642.0,
  'B98012_001E': None,
  'B98012_002E': None,
  'B08301_003E': 3173.0,
  'B08301_011E': 0.0,
  'B08301_021E': 75.0,
  'zip code tabulation area': '43964'},
 {'NAME': 'ZCTA5 28216',
  'B01003_001E': 51116.0,
  'B98012_001E': None,
  'B98012_002E': None,
  'B08301_003E': 20406.0,
  'B08301_011E': 742.0,
  'B08301_021E': 1499.0,
  'zip code tabulation area': '28216'},
 {'NAME': 'ZCTA5 28277',
  'B01003_001E': 71605.0,
  'B98012_001E': None,
  'B98012_002E': None,
  'B08301_003E': 28558.0,
  'B08301_011E': 326.0,
  'B08301_021E': 4072.0,
  'zip code tabulation area': '28277'},
 {'NAME': 'ZCTA5 28278',
  'B01003_001E': 27286.0,
  'B98012_001E': None,
  'B98012_002E': None,
  'B08301_003E': 11700.0,
  'B08301_011E': 36.0,
  'B08301_021E': 1282.0,
  'zip code tabulation area': '28278'},
 {'NAME': 'ZCTA5 28303',
  'B01003_001E': 29414.0,
  'B98012_001E': None,
  'B98012_002E': None,
  'B08301_003E': 11272.0,
  'B08301_011E': 131.0,
  'B08301_021E': 512.0,
  'zip code tabulation area': '28303'}]

### Create DataFrame

In [98]:
# Create DataFrame

census_dataframe = pd.DataFrame(census_data)

# Format and update DataFrame
census_dataframe = census_dataframe.rename(columns={"B01003_001E": "Population",
                                                       "B98012_001E": "Population II",
                                                       "B98012_002E": "Male Population",
                                                       "B98012_003E": "Female Population",
                                                       "B08301_003E": "Drive to Work - Solo Driver", 
                                                       "B08301_011E": "Public Transportation",
                                                       "B08301_021E": "Work from Home", 
                                                       "NAME": "Name", 
                                                       "zip code tabulation area": "Zipcode"
                                                      })

census_dataframe.head()

,Name,Population,Population II,Male Population,Drive to Work - Solo Driver,Public Transportation,Work from Home,Zipcode
0,ZCTA5 43964,8642.0,None,None,3173.0,0.0,75.0,43964
1,ZCTA5 28216,51116.0,None,None,20406.0,742.0,1499.0,28216
2,ZCTA5 28277,71605.0,None,None,28558.0,326.0,4072.0,28277
3,ZCTA5 28278,27286.0,None,None,11700.0,36.0,1282.0,28278
4,ZCTA5 28303,29414.0,None,None,11272.0,131.0,512.0,28303

In [2]:

location= os.path.join('cases-lat-lng.csv')
df_latlng=pd.read_csv(location)

In [3]:
df_latlng.head()

         date   county    state    fips  cases  deaths   Latitude  Longitude
0  2020-09-08  Autauga  Alabama  1001.0   1508      24  32.579182 -86.499655
1  2020-09-08  Baldwin  Alabama  1003.0   4757      46  30.601074 -87.776333
2  2020-09-08  Barbour  Alabama  1005.0    778       7  31.817290 -85.354965
3  2020-09-08     Bibb  Alabama  1007.0    589       9  32.956280 -87.142289
4  2020-09-08   Blount  Alabama  1009.0   1390      12  34.014515 -86.499655