In [7]:
import pandas as pd
import os
import config as gkey
import config as wkey
import config as ckey

In [8]:
file_path = os.path.join('..'',"Resources","Population+Drive+Median_Income_by_Zip.csv")
df=pd.read_csv(file_path)

SyntaxError: EOL while scanning string literal (<ipython-input-8-9f19db39738d>, line 1)

In [9]:
df.head()

NameError: name 'df' is not defined

In [4]:
df_new=df.dropna()

In [5]:
df_new.isnull().sum()

date      0
county    0
state     0
fips      0
cases     0
deaths    0
dtype: int64

In [6]:
df_new.shape

(510299, 6)

In [7]:
#total cases * (population/100,000)

In [8]:
df_new.head()

        date     county       state     fips  cases  deaths
0  1/21/2020  Snohomish  Washington  53061.0      1       0
1  1/22/2020  Snohomish  Washington  53061.0      1       0
2  1/23/2020  Snohomish  Washington  53061.0      1       0
3  1/24/2020       Cook    Illinois  17031.0      1       0
4  1/24/2020  Snohomish  Washington  53061.0      1       0

In [28]:
df_new_date=df_new[df_new['date']=='2020-09-08']

In [10]:
df_new_date.reset_index(drop=True,inplace=True)

In [11]:
df_new_date.head()

Empty DataFrame
Columns: [date, county, state, fips, cases, deaths]
Index: []

In [29]:
df_new_date.shape

(0, 6)

In [30]:
df_new_date['fips'].nunique()

0

In [31]:
df_sorted=df_new_date.sort_values((['cases']),ascending=False)

In [32]:
df_100=df_sorted.head(100)

In [34]:
df_100.head()

Empty DataFrame
Columns: [date, county, state, fips, cases, deaths]
Index: []

In [35]:
df_100.reset_index(drop=True,inplace=True)

In [36]:
df_100.head()

Empty DataFrame
Columns: [date, county, state, fips, cases, deaths]
Index: []

In [37]:
df_100.shape

(0, 6)

In [38]:
df_100.head()

Empty DataFrame
Columns: [date, county, state, fips, cases, deaths]
Index: []

In [39]:
pt_df_top5=df_100.head()

In [40]:
#Dropping Deaths Column and isolating top 5 affected areas from the rest
pt_df_top5.drop(['deaths'],axis=1,inplace=True)

C:\Users\jddar\anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [41]:
pt_df_top5

Empty DataFrame
Columns: [date, county, state, fips, cases]
Index: []

In [42]:
# import requests
# import gmaps
# gmaps.configure(api_key=gkey)

In [43]:
# target='Los Angeles, California'
# url='https://maps.googleapis.com/maps/api/geocode/json?address={}&key={}'.format(target,gkey)

In [44]:
# geo_data=requests.get(url).json()

In [45]:
# geo_data

{'error_message': 'The provided API key is invalid.',
 'results': [],
 'status': 'REQUEST_DENIED'}

In [41]:
#geo_data['results'][0]['geometry']['location']['lat']

In [42]:
#geo_data['results'][0]['geometry']['location']['lng']

In [49]:
for index,row in pt_df_top5.iterrows():
    county=row['county']
    state=row['state']
    target=f'{county},{state}'
    url='https://maps.googleapis.com/maps/api/geocode/json?address={}&key={}'.format(target,gkey)
    geo_data=requests.get(url).json()
    pt_df_top5.loc[index,'Latitude'] = geo_data['results'][0]['geometry']['location']['lat']
    pt_df_top5.loc[index,'Longitude'] = geo_data['results'][0]['geometry']['location']['lng']

In [50]:
pt_df_top5

Empty DataFrame
Columns: [date, county, state, fips, cases]
Index: []

In [47]:
pt_locations =pt_df_top5[['Latitude','Longitude']]
pt_cases=pt_df_top5['cases'].astype(float)
pt_maxx=pt_df_top5['cases'].max()
#pt_maxx=pt_maxx.astype(float)

KeyError: "None of [Index(['Latitude', 'Longitude'], dtype='object')] are in the [columns]"

In [48]:
fig=gmaps.figure()
heat_layer=gmaps.heatmap_layer(pt_locations,weights=pt_cases,dissipating=False,max_intensity=pt_maxx,point_radius=0.9)

TraitError: Element of the 'configuration' trait of a Map instance must be a unicode string, but a value of <module 'config' from 'C:\\Users\\jddar\\GitLab\\GitLabHW\\Rice_Project-1-G11\\Rice-Project-1-G11\\config.py'> <class 'module'> was specified.

In [47]:
fig.add_layer(heat_layer)

NameError: name 'fig' is not defined

In [48]:
fig

NameError: name 'fig' is not defined

In [46]:
info_box_template = """
<dl>
<dt>County</dt><dd>{county}</dd>
<dt>State</dt><dd>{state}</dd>
<dt>Cases</dt><dd>{cases}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
covid_info = [info_box_template.format(**row) for index, row in pt_df_top5.iterrows()]
locations = pt_df_top5[["Latitude", "Longitude"]]

KeyError: "None of [Index(['Latitude', 'Longitude'], dtype='object')] are in the [columns]"

In [49]:

marker_layer=gmaps.marker_layer(locations,info_box_content=covid_info)

NameError: name 'locations' is not defined

In [50]:
fig.add_layer(marker_layer)

NameError: name 'fig' is not defined

In [51]:
fig

NameError: name 'fig' is not defined

In [52]:
pt_path=os.path.join('Resources','mask-use-by-county.csv')

In [53]:
pt_df=pd.read_csv(pt_path)

In [54]:
pt_df.shape

(3142, 6)

In [55]:
pt_df.head()

   COUNTYFP  NEVER  RARELY  SOMETIMES  FREQUENTLY  ALWAYS
0      1001  0.053   0.074      0.134       0.295   0.444
1      1003  0.083   0.059      0.098       0.323   0.436
2      1005  0.067   0.121      0.120       0.201   0.491
3      1007  0.020   0.034      0.096       0.278   0.572
4      1009  0.053   0.114      0.180       0.194   0.459

In [56]:
pt_df.rename(columns={'COUNTYFP':'fips'},inplace=True)

In [57]:
pt_merged=pd.merge(df_new_date,pt_df,on='fips')

In [58]:
pt_merged=pt_merged.sort_values(['cases'],ascending=False)

In [59]:
#pt_merged=pt_merged.head(100)

In [60]:
pt_merged.reset_index(inplace=True, drop=True)

In [61]:
rar=pt_merged['NEVER'] + pt_merged['RARELY']+pt_merged['SOMETIMES']+pt_merged['FREQUENTLY']
cases=pt_merged['cases']

In [62]:
# import matplotlib.pyplot as plt
# plt.scatter(rar,cases)
# plt.show()

In [63]:
# import scipy.stats as sts

In [64]:
# corr=sts.pearsonr(rar,cases)
# corr

In [79]:
pt_merged

Empty DataFrame
Columns: [date, county, state, cases, deaths, fips, NEVER, RARELY, SOMETIMES, FREQUENTLY, ALWAYS]
Index: []

In [66]:
import pandas as pd
import os
import requests
from config import wkey

In [67]:
location=os.path.join('Resources','ktop100latlng.csv')
ktop100=pd.read_csv(location)

In [68]:
ktop100.head()

,date,county,state,fips,cases_x,deaths,cases_y,rate,Population,Latitude,Longitude
0,9/8/2020,Tehama,California,6103.0,453,1,4,112.250000,144905,40.027102,-122.123323
1,9/8/2020,Bingham,Idaho,16011.0,676,9,7,95.571429,121264,43.211230,-112.362415
2,9/8/2020,Stone,Missouri,29209.0,316,2,4,78.000000,121684,36.774888,-93.459933
3,9/8/2020,Sebastian,Arkansas,5131.0,3042,38,40,75.050000,142299,35.226040,-94.315422
4,9/8/2020,Portage,Wisconsin,55097.0,798,2,11,71.545455,143879,43.539149,-89.462620

In [69]:
ktop100=ktop100.drop(['deaths'],axis=1)

In [70]:
ktop100.head()

,date,county,state,fips,cases_x,cases_y,rate,Population,Latitude,Longitude
0,9/8/2020,Tehama,California,6103.0,453,4,112.250000,144905,40.027102,-122.123323
1,9/8/2020,Bingham,Idaho,16011.0,676,7,95.571429,121264,43.211230,-112.362415
2,9/8/2020,Stone,Missouri,29209.0,316,4,78.000000,121684,36.774888,-93.459933
3,9/8/2020,Sebastian,Arkansas,5131.0,3042,40,75.050000,142299,35.226040,-94.315422
4,9/8/2020,Portage,Wisconsin,55097.0,798,11,71.545455,143879,43.539149,-89.462620

In [71]:
params={'appid':wkey,'units':'Imperial'}

In [72]:
counter=1
for index,row in ktop100.iterrows():
    print("loking for number {}".format(counter))
    url='http://api.openweathermap.org/data/2.5/weather?'
    latt=row['Latitude']
    long=row['Longitude']
    params['lat']=latt
    params['lon']=long
    response=requests.get(url,params=params).json()
    ktop100.loc[index,'Max_Temp']=response['main']['temp_max']
    ktop100.loc[index,'humidity']=response['main']['humidity']
    
    counter+=1

loking for number 1
loking for number 2
loking for number 3
loking for number 4
loking for number 5
loking for number 6
loking for number 7
loking for number 8
loking for number 9
loking for number 10
loking for number 11
loking for number 12
loking for number 13
loking for number 14
loking for number 15
loking for number 16
loking for number 17
loking for number 18
loking for number 19
loking for number 20
loking for number 21
loking for number 22
loking for number 23
loking for number 24
loking for number 25
loking for number 26
loking for number 27
loking for number 28
loking for number 29
loking for number 30
loking for number 31
loking for number 32
loking for number 33
loking for number 34
loking for number 35
loking for number 36
loking for number 37
loking for number 38
loking for number 39
loking for number 40
loking for number 41
loking for number 42
loking for number 43
loking for number 44
loking for number 45
loking for number 46
loking for number 47
loking for number 48
loking for number 49
loking for number 50
loking for number 51
loking for number 52
loking for number 53
loking for number 54
loking for number 55
loking for number 56
loking for number 57
loking for number 58
loking for number 59
loking for number 60
loking for number 61
loking for number 62
loking for number 63
loking for number 64
loking for number 65
loking for number 66
loking for number 67
loking for number 68
loking for number 69
loking for number 70
loking for number 71
loking for number 72
loking for number 73
loking for number 74
loking for number 75
loking for number 76
loking for number 77
loking for number 78
loking for number 79
loking for number 80
loking for number 81
loking for number 82
loking for number 83
loking for number 84
loking for number 85
loking for number 86
loking for number 87
loking for number 88
loking for number 89
loking for number 90
loking for number 91
loking for number 92
loking for number 93
loking for number 94
loking for number 95
loking for number 96
loking for number 97
loking for number 98
loking for number 99
loking for number 100

In [75]:
ktop100.head()

,date,county,state,fips,cases_x,cases_y,rate,Population,Latitude,Longitude,Max_Temp,humidity
0,9/8/2020,Tehama,California,6103.0,453,4,112.250000,144905,40.027102,-122.123323,62.60,67.0
1,9/8/2020,Bingham,Idaho,16011.0,676,7,95.571429,121264,43.211230,-112.362415,53.60,87.0
2,9/8/2020,Stone,Missouri,29209.0,316,4,78.000000,121684,36.774888,-93.459933,55.99,87.0
3,9/8/2020,Sebastian,Arkansas,5131.0,3042,40,75.050000,142299,35.226040,-94.315422,57.20,93.0
4,9/8/2020,Portage,Wisconsin,55097.0,798,11,71.545455,143879,43.539149,-89.462620,41.00,98.0

In [77]:
response

{'coord': {'lon': -84.56, 'lat': 38.32},
 'weather': [{'id': 800,
   'main': 'Clear',
   'description': 'clear sky',
   'icon': '01d'}],
 'base': 'stations',
 'main': {'temp': 43.72,
  'feels_like': 36.28,
  'temp_min': 41,
  'temp_max': 45,
  'pressure': 1026,
  'humidity': 86},
 'visibility': 10000,
 'wind': {'speed': 9.19, 'deg': 51},
 'clouds': {'all': 0},
 'dt': 1600517686,
 'sys': {'type': 1,
  'id': 2777,
  'country': 'US',
  'sunrise': 1600514629,
  'sunset': 1600558798},
 'timezone': -14400,
 'id': 4307808,
 'name': 'Scott',
 'cod': 200}

In [251]:
# Python Wrapper for Census API 
from census import Census
import requests

In [300]:
# provide the api key and the year to establish a session
c = Census(ckey, year=2016)

In [301]:
# Set an option to allow up to 300 characters to print in each column
pd.set_option('max_colwidth', 300)

In [302]:
# query for all tables
tables = c.acs.tables()

# The tables variable contains a list of dicts, so we can convert directly to a dataframe
table_df = pd.DataFrame(tables)
print(f"Number of available tables: {len(table_df)}")
table_df.head(15)

Number of available tables: 1046

,name,description,variables
0,B17015,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY FAMILY TYPE BY SOCIAL SECURITY INCOME BY SUPPLEMENTAL SECURITY INCOME (SSI) AND CASH PUBLIC ASSISTANCE INCOME,https://api.census.gov/data/2016/acs/acs5/groups/B17015.json
1,B18104,SEX BY AGE BY COGNITIVE DIFFICULTY,https://api.census.gov/data/2016/acs/acs5/groups/B18104.json
2,B17016,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY FAMILY TYPE BY WORK EXPERIENCE OF HOUSEHOLDER AND SPOUSE,https://api.census.gov/data/2016/acs/acs5/groups/B17016.json
3,B18105,SEX BY AGE BY AMBULATORY DIFFICULTY,https://api.census.gov/data/2016/acs/acs5/groups/B18105.json
4,B17017,POVERTY STATUS IN THE PAST 12 MONTHS BY HOUSEHOLD TYPE BY AGE OF HOUSEHOLDER,https://api.census.gov/data/2016/acs/acs5/groups/B17017.json
5,B18106,SEX BY AGE BY SELF-CARE DIFFICULTY,https://api.census.gov/data/2016/acs/acs5/groups/B18106.json
6,B17018,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER,https://api.census.gov/data/2016/acs/acs5/groups/B17018.json
7,B18107,SEX BY AGE BY INDEPENDENT LIVING DIFFICULTY,https://api.census.gov/data/2016/acs/acs5/groups/B18107.json
8,B07001PR,GEOGRAPHICAL MOBILITY IN THE PAST YEAR BY AGE FOR CURRENT RESIDENCE IN PUERTO RICO,https://api.census.gov/data/2016/acs/acs5/groups/B07001PR.json
9,B17011,AGGREGATE INCOME DEFICIT (DOLLARS) IN THE PAST 12 MONTHS FOR FAMILIES BY FAMILY TYPE,https://api.census.gov/data/2016/acs/acs5/groups/B17011.json
10,B19301A,PER CAPITA INCOME IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS) (WHITE ALONE),https://api.census.gov/data/2016/acs/acs5/groups/B19301A.json
11,B17012,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY NUMBER OF RELATED CHILDREN UNDER 18 YEARS,https://api.census.gov/data/2016/acs/acs5/groups/B17012.json
12,B18101,SEX BY AGE BY DISABILITY STATUS,https://api.census.gov/data/2016/acs/acs5/groups/B18101.json
13,B17013,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY NUMBER OF PERSONS IN FAMILY,https://api.census.gov/data/2016/acs/acs5/groups/B17013.json
14,B18102,SEX BY AGE BY HEARING DIFFICULTY,https://api.census.gov/data/2016/acs/acs5/groups/B18102.json

In [303]:

table_df[table_df['description'].str.contains("SEX")].head(15)

,name,description,variables
1,B18104,SEX BY AGE BY COGNITIVE DIFFICULTY,https://api.census.gov/data/2016/acs/acs5/groups/B18104.json
3,B18105,SEX BY AGE BY AMBULATORY DIFFICULTY,https://api.census.gov/data/2016/acs/acs5/groups/B18105.json
5,B18106,SEX BY AGE BY SELF-CARE DIFFICULTY,https://api.census.gov/data/2016/acs/acs5/groups/B18106.json
7,B18107,SEX BY AGE BY INDEPENDENT LIVING DIFFICULTY,https://api.census.gov/data/2016/acs/acs5/groups/B18107.json
12,B18101,SEX BY AGE BY DISABILITY STATUS,https://api.census.gov/data/2016/acs/acs5/groups/B18101.json
14,B18102,SEX BY AGE BY HEARING DIFFICULTY,https://api.census.gov/data/2016/acs/acs5/groups/B18102.json
16,B18103,SEX BY AGE BY VISION DIFFICULTY,https://api.census.gov/data/2016/acs/acs5/groups/B18103.json
26,B98012,TOTAL POPULATION COVERAGE RATE BY SEX,https://api.census.gov/data/2016/acs/acs5/groups/B98012.json
44,B17004,POVERTY STATUS IN THE PAST 12 MONTHS OF INDIVIDUALS BY SEX BY WORK EXPERIENCE,https://api.census.gov/data/2016/acs/acs5/groups/B17004.json
45,B17005,POVERTY STATUS IN THE PAST 12 MONTHS OF INDIVIDUALS BY SEX BY EMPLOYMENT STATUS,https://api.census.gov/data/2016/acs/acs5/groups/B17005.json
47,B17007,POVERTY STATUS IN THE PAST 12 MONTHS OF UNRELATED INDIVIDUALS 15 YEARS AND OVER BY SEX BY AGE,https://api.census.gov/data/2016/acs/acs5/groups/B17007.json
50,B17001,POVERTY STATUS IN THE PAST 12 MONTHS BY SEX BY AGE,https://api.census.gov/data/2016/acs/acs5/groups/B17001.json
51,B17003,POVERTY STATUS IN THE PAST 12 MONTHS OF INDIVIDUALS BY SEX BY EDUCATIONAL ATTAINMENT,https://api.census.gov/data/2016/acs/acs5/groups/B17003.json
58,B17008,AGGREGATE INCOME DEFICIT (DOLLARS) IN THE PAST 12 MONTHS OF UNRELATED INDIVIDUALS BY SEX,https://api.census.gov/data/2016/acs/acs5/groups/B17008.json
60,B05008,SEX BY PLACE OF BIRTH BY YEAR OF ENTRY FOR THE FOREIGN-BORN POPULATION,https://api.census.gov/data/2016/acs/acs5/groups/B05008.json

In [304]:
# B98012 income
# Determine which table you're interested in
table_id = 'B19013'

# Capture the variables URL from the table_df
url = table_df.loc[table_df['name']==table_id, 'variables'].values[0]

# Make the API call
response = requests.get(url).json()
response

# convert the response to a DataFrame
variables = pd.DataFrame(response['variables']).transpose()

print(f"Number of available variables: {len(variables)}")
variables.head(15)

Number of available variables: 4

,label,predicateType,group,limit,predicateOnly,concept
B19013_001MA,Annotation of Margin of Error!!Median household income in the past 12 months (in 2016 inflation-adjusted dollars),string,B19013,0,True,NaN
B19013_001EA,Annotation of Estimate!!Median household income in the past 12 months (in 2016 inflation-adjusted dollars),string,B19013,0,True,NaN
B19013_001E,Estimate!!Median household income in the past 12 months (in 2016 inflation-adjusted dollars),int,B19013,0,True,MEDIAN HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS)
B19013_001M,Margin of Error!!Median household income in the past 12 months (in 2016 inflation-adjusted dollars),int,B19013,0,True,MEDIAN HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS)

In [305]:
variables[variables['predicateType']=='int'].head()

,label,predicateType,group,limit,predicateOnly,concept
B19013_001E,Estimate!!Median household income in the past 12 months (in 2016 inflation-adjusted dollars),int,B19013,0,True,MEDIAN HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS)
B19013_001M,Margin of Error!!Median household income in the past 12 months (in 2016 inflation-adjusted dollars),int,B19013,0,True,MEDIAN HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS)

In [306]:
# census_data = c.acs5.get(("NAME", "B19301_001E"), 
#                          {'for': 'zip code tabulation area:*'})


# Run Census Search to retrieve data on all zip codes (2017 ACS5 Census)
census_data = c.acs5.get(("B19013_001E_Median_Income", "B19301_001E_Income_per_Capita"), 
                         {'for': 'zip code tabulation area:*'})

# # Convert to DataFrame
# income_df = pd.DataFrame(census_data)

# # Column Renaming
# poverty_df = poverty_df.rename(columns={"B01003_001E": "Dollars",
#                                       "zip code tabulation area": "Zipcode"})

# poverty_df.head()

APIKeyError: ' <html>     <head>         <title>Invalid Key</title>     </head>     <body>         <p>             A valid <em>key</em> must be included with each data API request.             You included a key with this request, however, it is not valid.             Please check your key and try again.         </p>         <p>             If you do not have a key you my sign up for one <a href="key_signup.html">here</a>.         </p>     </body> </html>'