In [2]:
import pandas as pd
import os

In [3]:
file_path = os.path.join("Resources","us-counties.csv")
df=pd.read_csv(file_path)

In [4]:
df.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

In [5]:
df_new=df.dropna()

In [6]:
df_new_date=df_new[df_new['date']=='2020-09-08']

In [7]:
df_sorted=df_new_date.sort_values((['cases']),ascending=False)

In [8]:
df_100=df_sorted.head(100)

In [9]:
df_100

,date,county,state,fips,cases,deaths
512032,2020-09-08,Los Angeles,California,6037.0,249241,6036
512191,2020-09-08,Miami-Dade,Florida,12086.0,162025,2666
511930,2020-09-08,Maricopa,Arizona,4013.0,136040,3093
512441,2020-09-08,Cook,Illinois,17031.0,132079,5098
514539,2020-09-08,Harris,Texas,48201.0,112039,2342
514495,2020-09-08,Dallas,Texas,48113.0,77326,1011
512154,2020-09-08,Broward,Florida,12011.0,73556,1234
513585,2020-09-08,Clark,Nevada,32003.0,61543,1206
512046,2020-09-08,Riverside,California,6065.0,54572,1075
512043,2020-09-08,Orange,California,6059.0,51016,1056
512049,2020-09-08,San Bernardino,California,6071.0,49691,765
514454,2020-09-08,Bexar,Texas,48029.0,47748,1167
513711,2020-09-08,Suffolk,New York,36103.0,45356,2006
513691,2020-09-08,Nassau,New York,36059.0,45294,2199
512198,2020-09-08,Palm Beach,Florida,12099.0,43307,1170
514656,2020-09-08,Tarrant,Texas,48439.0,43055,639
512050,2020-09-08,San Diego,California,6073.0,41140,709
512176,2020-09-08,Hillsborough,Florida,12057.0,38652,565
513719,2020-09-08,Westchester,New York,36119.0,37313,1452
512196,2020-09-08,Orange,Florida,12095.0,37246,386
514130,2020-09-08,Philadelphia,Pennsylvania,42101.0,34742,1779
513149,2020-09-08,Wayne,Michigan,26163.0,32401,2899
512028,2020-09-08,Kern,California,6029.0,30202,296
514546,2020-09-08,Hidalgo,Texas,48215.0,28833,1311
514422,2020-09-08,Shelby,Tennessee,47157.0,28478,407
512163,2020-09-08,Duval,Florida,12031.0,27802,272
513043,2020-09-08,Prince George's,Maryland,24033.0,27476,803
514663,2020-09-08,Travis,Texas,48453.0,27124,399
514362,2020-09-08,Davidson,Tennessee,47037.0,26827,267
513781,2020-09-08,Mecklenburg,North Carolina,37119.0,26584,332
...,...,...,...,...,...,...
513896,2020-09-08,Cuyahoga,Ohio,39035.0,16360,605
513813,2020-09-08,Wake,North Carolina,37183.0,16031,212
512063,2020-09-08,Stanislaus,California,6099.0,15635,295
512447,2020-09-08,DuPage,Illinois,17043.0,15499,540
512475,2020-09-08,Lake,Illinois,17097.0,15354,473
514517,2020-09-08,Fort Bend,Texas,48157.0,15158,249
513030,2020-09-08,Baltimore city,Maryland,24510.0,15014,470
512067,2020-09-08,Tulare,California,6107.0,14816,246
512020,2020-09-08,Contra Costa,California,6013.0,14712,187
514241,2020-09-08,Charleston,South Carolina,45019.0,14509,249
514038,2020-09-08,Tulsa,Oklahoma,40143.0,14473,140
513703,2020-09-08,Rockland,New York,36087.0,14439,508
514021,2020-09-08,Oklahoma,Oklahoma,40109.0,14416,168
512148,2020-09-08,District of Columbia,District of Columbia,11001.0,14362,611
512881,2020-09-08,Jefferson,Kentucky,21111.0,14330,302
512962,2020-09-08,East Baton Rouge,Louisiana,22033.0,14284,426
512697,2020-09-08,Polk,Iowa,19153.0,14158,246
513518,2020-09-08,Douglas,Nebraska,31055.0,14056,169
512139,2020-09-08,New Haven,Connecticut,9009.0,13858,1109
512136,2020-09-08,Hartford,Connecticut,9003.0,13771,1428
513066,2020-09-08,Worcester,Massachusetts,25027.0,13666,1061
513116,2020-09-08,Macomb,Michigan,26099.0,13592,988
514254,2020-09-08,Greenville,South Carolina,45045.0,12692,270
511877,2020-09-08,Mobile,Alabama,1097.0,12604,272
512525,2020-09-08,Will,Illinois,17197.0,12415,361
514271,2020-09-08,Richland,South Carolina,45079.0,12396,204
511937,2020-09-08,Yuma,Arizona,4027.0,12340,331
514676,2020-09-08,Webb,Texas,48479.0,12144,259
514715,2020-09-08,Utah,Utah,49049.0,12103,51
512159,2020-09-08,Collier,Florida,12021.0,12049,184

In [10]:
df_100.reset_index(drop=True,inplace=True)

In [12]:
df_100.head()

         date       county       state     fips   cases  deaths
0  2020-09-08  Los Angeles  California   6037.0  249241    6036
1  2020-09-08   Miami-Dade     Florida  12086.0  162025    2666
2  2020-09-08     Maricopa     Arizona   4013.0  136040    3093
3  2020-09-08         Cook    Illinois  17031.0  132079    5098
4  2020-09-08       Harris       Texas  48201.0  112039    2342