In [2]:
import pandas as pd
import os

In [3]:
file_path = os.path.join("Resources","us-counties.csv")
df=pd.read_csv(file_path)

In [4]:
df.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

In [6]:
df_new=df.dropna()

In [7]:
df_new.isnull().sum()

date      0
county    0
state     0
fips      0
cases     0
deaths    0
dtype: int64

In [8]:
df_new.shape

(510107, 6)

In [12]:
df_new_date=df_new[df_new['date']=='2020-09-08']

In [13]:
df_new_date.head()

              date   county    state    fips  cases  deaths
511829  2020-09-08  Autauga  Alabama  1001.0   1508      24
511830  2020-09-08  Baldwin  Alabama  1003.0   4757      46
511831  2020-09-08  Barbour  Alabama  1005.0    778       7
511832  2020-09-08     Bibb  Alabama  1007.0    589       9
511833  2020-09-08   Blount  Alabama  1009.0   1390      12

In [14]:
df_new_date.shape

(3203, 6)

In [15]:
df_new_date['fips'].nunique()

3203

In [23]:
df_sorted=df_new_date.sort_values((['cases']),ascending=False)

In [24]:
df_100=df_sorted.head(100)

In [25]:
df_100.head()

              date       county       state     fips   cases  deaths
512032  2020-09-08  Los Angeles  California   6037.0  249241    6036
512191  2020-09-08   Miami-Dade     Florida  12086.0  162025    2666
511930  2020-09-08     Maricopa     Arizona   4013.0  136040    3093
512441  2020-09-08         Cook    Illinois  17031.0  132079    5098
514539  2020-09-08       Harris       Texas  48201.0  112039    2342

In [26]:
df_100.reset_index(drop=True,inplace=True)

In [27]:
df_100.head()

         date       county       state     fips   cases  deaths
0  2020-09-08  Los Angeles  California   6037.0  249241    6036
1  2020-09-08   Miami-Dade     Florida  12086.0  162025    2666
2  2020-09-08     Maricopa     Arizona   4013.0  136040    3093
3  2020-09-08         Cook    Illinois  17031.0  132079    5098
4  2020-09-08       Harris       Texas  48201.0  112039    2342

In [28]:
df_100.shape

(100, 6)

In [29]:
df_100

,date,county,state,fips,cases,deaths
0,2020-09-08,Los Angeles,California,6037.0,249241,6036
1,2020-09-08,Miami-Dade,Florida,12086.0,162025,2666
2,2020-09-08,Maricopa,Arizona,4013.0,136040,3093
3,2020-09-08,Cook,Illinois,17031.0,132079,5098
4,2020-09-08,Harris,Texas,48201.0,112039,2342
5,2020-09-08,Dallas,Texas,48113.0,77326,1011
6,2020-09-08,Broward,Florida,12011.0,73556,1234
7,2020-09-08,Clark,Nevada,32003.0,61543,1206
8,2020-09-08,Riverside,California,6065.0,54572,1075
9,2020-09-08,Orange,California,6059.0,51016,1056
10,2020-09-08,San Bernardino,California,6071.0,49691,765
11,2020-09-08,Bexar,Texas,48029.0,47748,1167
12,2020-09-08,Suffolk,New York,36103.0,45356,2006
13,2020-09-08,Nassau,New York,36059.0,45294,2199
14,2020-09-08,Palm Beach,Florida,12099.0,43307,1170
15,2020-09-08,Tarrant,Texas,48439.0,43055,639
16,2020-09-08,San Diego,California,6073.0,41140,709
17,2020-09-08,Hillsborough,Florida,12057.0,38652,565
18,2020-09-08,Westchester,New York,36119.0,37313,1452
19,2020-09-08,Orange,Florida,12095.0,37246,386
20,2020-09-08,Philadelphia,Pennsylvania,42101.0,34742,1779
21,2020-09-08,Wayne,Michigan,26163.0,32401,2899
22,2020-09-08,Kern,California,6029.0,30202,296
23,2020-09-08,Hidalgo,Texas,48215.0,28833,1311
24,2020-09-08,Shelby,Tennessee,47157.0,28478,407
25,2020-09-08,Duval,Florida,12031.0,27802,272
26,2020-09-08,Prince George's,Maryland,24033.0,27476,803
27,2020-09-08,Travis,Texas,48453.0,27124,399
28,2020-09-08,Davidson,Tennessee,47037.0,26827,267
29,2020-09-08,Mecklenburg,North Carolina,37119.0,26584,332
...,...,...,...,...,...,...
70,2020-09-08,Cuyahoga,Ohio,39035.0,16360,605
71,2020-09-08,Wake,North Carolina,37183.0,16031,212
72,2020-09-08,Stanislaus,California,6099.0,15635,295
73,2020-09-08,DuPage,Illinois,17043.0,15499,540
74,2020-09-08,Lake,Illinois,17097.0,15354,473
75,2020-09-08,Fort Bend,Texas,48157.0,15158,249
76,2020-09-08,Baltimore city,Maryland,24510.0,15014,470
77,2020-09-08,Tulare,California,6107.0,14816,246
78,2020-09-08,Contra Costa,California,6013.0,14712,187
79,2020-09-08,Charleston,South Carolina,45019.0,14509,249
80,2020-09-08,Tulsa,Oklahoma,40143.0,14473,140
81,2020-09-08,Rockland,New York,36087.0,14439,508
82,2020-09-08,Oklahoma,Oklahoma,40109.0,14416,168
83,2020-09-08,District of Columbia,District of Columbia,11001.0,14362,611
84,2020-09-08,Jefferson,Kentucky,21111.0,14330,302
85,2020-09-08,East Baton Rouge,Louisiana,22033.0,14284,426
86,2020-09-08,Polk,Iowa,19153.0,14158,246
87,2020-09-08,Douglas,Nebraska,31055.0,14056,169
88,2020-09-08,New Haven,Connecticut,9009.0,13858,1109
89,2020-09-08,Hartford,Connecticut,9003.0,13771,1428
90,2020-09-08,Worcester,Massachusetts,25027.0,13666,1061
91,2020-09-08,Macomb,Michigan,26099.0,13592,988
92,2020-09-08,Greenville,South Carolina,45045.0,12692,270
93,2020-09-08,Mobile,Alabama,1097.0,12604,272
94,2020-09-08,Will,Illinois,17197.0,12415,361
95,2020-09-08,Richland,South Carolina,45079.0,12396,204
96,2020-09-08,Yuma,Arizona,4027.0,12340,331
97,2020-09-08,Webb,Texas,48479.0,12144,259
98,2020-09-08,Utah,Utah,49049.0,12103,51
99,2020-09-08,Collier,Florida,12021.0,12049,184