In [1]:
import pandas as pd
import os

In [2]:
file_path = os.path.join("Resources","us-counties.csv")
df=pd.read_csv(file_path)

In [3]:
df.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

In [4]:
df_new=df.dropna()

In [5]:
df_new.isnull().sum()

date      0
county    0
state     0
fips      0
cases     0
deaths    0
dtype: int64

In [6]:
df_new.shape

(510107, 6)

In [7]:
df_new_date=df_new[df_new['date']=='2020-09-08']

In [8]:
df_new_date.head()

              date   county    state    fips  cases  deaths
511829  2020-09-08  Autauga  Alabama  1001.0   1508      24
511830  2020-09-08  Baldwin  Alabama  1003.0   4757      46
511831  2020-09-08  Barbour  Alabama  1005.0    778       7
511832  2020-09-08     Bibb  Alabama  1007.0    589       9
511833  2020-09-08   Blount  Alabama  1009.0   1390      12

In [9]:
df_new_date.shape

(3203, 6)

In [10]:
df_new_date['fips'].nunique()

3203

In [11]:
df_sorted=df_new_date.sort_values((['cases']),ascending=False)

In [12]:
df_100=df_sorted.head(100)

In [13]:
df_100.head()

              date       county       state     fips   cases  deaths
512032  2020-09-08  Los Angeles  California   6037.0  249241    6036
512191  2020-09-08   Miami-Dade     Florida  12086.0  162025    2666
511930  2020-09-08     Maricopa     Arizona   4013.0  136040    3093
512441  2020-09-08         Cook    Illinois  17031.0  132079    5098
514539  2020-09-08       Harris       Texas  48201.0  112039    2342

In [14]:
df_100.reset_index(drop=True,inplace=True)

In [15]:
df_100.head()

         date       county       state     fips   cases  deaths
0  2020-09-08  Los Angeles  California   6037.0  249241    6036
1  2020-09-08   Miami-Dade     Florida  12086.0  162025    2666
2  2020-09-08     Maricopa     Arizona   4013.0  136040    3093
3  2020-09-08         Cook    Illinois  17031.0  132079    5098
4  2020-09-08       Harris       Texas  48201.0  112039    2342

In [16]:
df_100.shape

(100, 6)

In [17]:
df_100.head()

         date       county       state     fips   cases  deaths
0  2020-09-08  Los Angeles  California   6037.0  249241    6036
1  2020-09-08   Miami-Dade     Florida  12086.0  162025    2666
2  2020-09-08     Maricopa     Arizona   4013.0  136040    3093
3  2020-09-08         Cook    Illinois  17031.0  132079    5098
4  2020-09-08       Harris       Texas  48201.0  112039    2342

In [21]:
pt_df_top5=df_100.head()

In [23]:
#Dropping Deaths Column and isolating top 5 affected areas from the rest
pt_df_top5.drop(['deaths'],axis=1,inplace=True)

C:\Users\Pankaj\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [24]:
pt_df_top5

         date       county       state     fips   cases
0  2020-09-08  Los Angeles  California   6037.0  249241
1  2020-09-08   Miami-Dade     Florida  12086.0  162025
2  2020-09-08     Maricopa     Arizona   4013.0  136040
3  2020-09-08         Cook    Illinois  17031.0  132079
4  2020-09-08       Harris       Texas  48201.0  112039

In [61]:
import requests
from config import pt_gkey
import gmaps

In [28]:
target='Los Angeles, California'

In [88]:
pt_gkey

'AIzaSyAPzj9FHe0jnupbibf-Q7dI7hWNfS6bMmY'

In [92]:
url='https://maps.googleapis.com/maps/api/geocode/json?address={}&key={}'.format(target,pt_gkey)

In [93]:
geo_data=requests.get(url).json()

In [94]:
geo_data

{'results': [{'address_components': [{'long_name': 'Harris County',
     'short_name': 'Harris County',
     'types': ['administrative_area_level_2', 'political']},
    {'long_name': 'Texas',
     'short_name': 'TX',
     'types': ['administrative_area_level_1', 'political']},
    {'long_name': 'United States',
     'short_name': 'US',
     'types': ['country', 'political']}],
   'formatted_address': 'Harris County, TX, USA',
   'geometry': {'bounds': {'northeast': {'lat': 30.1706059,
      'lng': -94.90849209999999},
     'southwest': {'lat': 29.497339, 'lng': -95.96076509999999}},
    'location': {'lat': 29.7751825, 'lng': -95.3102505},
    'location_type': 'APPROXIMATE',
    'viewport': {'northeast': {'lat': 30.1706059, 'lng': -94.90849209999999},
     'southwest': {'lat': 29.497339, 'lng': -95.96076509999999}}},
   'place_id': 'ChIJ9TB__YrMQIYR2tK7sndSry4',
   'types': ['administrative_area_level_2', 'political']}],
 'status': 'OK'}

In [41]:
geo_data['results']

[{'address_components': [{'long_name': 'Los Angeles',
    'short_name': 'Los Angeles',
    'types': ['locality', 'political']},
   {'long_name': 'Los Angeles County',
    'short_name': 'Los Angeles County',
    'types': ['administrative_area_level_2', 'political']},
   {'long_name': 'California',
    'short_name': 'CA',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': 'United States',
    'short_name': 'US',
    'types': ['country', 'political']}],
  'formatted_address': 'Los Angeles, CA, USA',
  'geometry': {'bounds': {'northeast': {'lat': 34.3373061,
     'lng': -118.1552891},
    'southwest': {'lat': 33.7036519, 'lng': -118.6681759}},
   'location': {'lat': 34.0522342, 'lng': -118.2436849},
   'location_type': 'APPROXIMATE',
   'viewport': {'northeast': {'lat': 34.3373061, 'lng': -118.1552891},
    'southwest': {'lat': 33.7036519, 'lng': -118.6681759}}},
  'place_id': 'ChIJE9on3F3HwoAR9AhGJW_fL-I',
  'types': ['locality', 'political']}]

In [52]:
geo_data['results'][0]['geometry']['location']['lat']

34.0522342

In [51]:
geo_data['results'][0]['geometry']['location']['lng']

-118.2436849

In [95]:
for index,row in pt_df_top5.iterrows():
    county=row['county']
    state=row['state']
    target=f'{county},{state}'
    url='https://maps.googleapis.com/maps/api/geocode/json?address={}&key={}'.format(target,pt_gkey)
    geo_data=requests.get(url).json()
    pt_df_top5.loc[index,'Latitude'] = geo_data['results'][0]['geometry']['location']['lat']
    pt_df_top5.loc[index,'Longitude'] = geo_data['results'][0]['geometry']['location']['lng']

In [96]:
pt_df_top5

         date       county       state     fips   cases   Latitude   Longitude
0  2020-09-08  Los Angeles  California   6037.0  249241  34.052234 -118.243685
1  2020-09-08   Miami-Dade     Florida  12086.0  162025  25.551603  -80.632692
2  2020-09-08     Maricopa     Arizona   4013.0  136040  33.058106 -112.047642
3  2020-09-08         Cook    Illinois  17031.0  132079  41.737659  -87.697554
4  2020-09-08       Harris       Texas  48201.0  112039  29.775182  -95.310250

In [97]:
pt_locations =pt_df_top5[['Latitude','Longitude']]
pt_cases=pt_df_top5['cases'].astype(float)
pt_maxx=pt_df_top5['cases'].max()
pt_maxx=pt_maxx.astype(float)

In [98]:
fig=gmaps.figure()
heat_layer=gmaps.heatmap_layer(pt_locations,weights=pt_cases,dissipating=False,max_intensity=pt_maxx,point_radius=0.9)

In [99]:
fig.add_layer(heat_layer)

In [100]:
fig

Figure(layout=FigureLayout(height='420px'))

In [82]:
info_box_template = """
<dl>
<dt>County</dt><dd>{county}</dd>
<dt>State</dt><dd>{state}</dd>
<dt>Cases</dt><dd>{cases}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
covid_info = [info_box_template.format(**row) for index, row in pt_df_top5.iterrows()]
locations = pt_df_top5[["Latitude", "Longitude"]]

In [83]:

marker_layer=gmaps.marker_layer(locations,info_box_content=covid_info)

In [84]:
fig.add_layer(marker_layer)

In [87]:
fig

Figure(layout=FigureLayout(height='420px'))